body{
  background-color: #FCFCFC;
  padding: 20px;
}

body, div, p, font, label, table, button, input, h1, h2, h3, h4, h5{
  font-family: PingFangTC-Regular, PingFangTC-Thin,PingFangTC-Semibold,Microsoft JhengHei, sans-serif;
  color: #102329;
  user-select: none;
}
div,p,label,table,button,input{
  font-size: 15px;
}
